<%= render partial: 'common/head' %>
<body>
<div id="content_wrapper">
  <%= render 'common/sidebar' %>
  <div id="main_content">
    <div class="flash_messages">
      <%= flash_tag(notice, "notice") %>
      <%= flash_tag(alert, "alert") %>
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>
