<%= render partial: 'common/head' %>
<body>
<%= render 'common/header' %>

<div id="content_wrapper">
  <div class="container">
    <div class="flash_messages">
      <%= flash_tag(notice, "notice") %>
      <%= flash_tag(alert, "alert") %>
    </div>
    <%= yield %>
  </div>
</div>

<%= render 'common/footer' %>

</body>
</html>
